@media screen and (min-width: 1200px){

.mobilebody {
	display: none;
}

.tabletprod {
	display: none;
}

.mobileprod {
	display: none;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.background {
	height: 100vh;
	/*background-color: rgba(70,134,200, .7); /*#4686C8*/
	background-image: linear-gradient(black, transparent);
	opacity: 0.6;
	position: absolute;
	left: 0;
	right: 0;
}

.header {
	height: 100vh;
	position: relative;
}



.homevideo {
	position: fixed;
	z-index: -1;
	width: 1830px;
	top: 0;
}


.body{
	z-index: 1;
	position: relative;
	background-color: #fff;
}

.title {
	text-align: center;
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;right: 0;
	font-family: Arial;
	color: white;
	opacity: 1;
}

.title h1{
	font-size: 90px;
	position: relative;
	font-weight: normal;
	font-family: 'Quando';
}

.title h2 {
	font-size: 126px;
	width: 100%;
	position: relative;
	top: 40%;margin-top: -120px;
	font-weight: normal;
	font-family: 'Quando';
	height: 240px;
	line-height: 126px;
	text-align: center;
}

h3 {
	font-size: 30px;
	position: relative;
	font-weight: normal;
	font-family: 'Quando';
	text-align: left;
	/*background-color: red;*/
	text-align: center;
	height: 34px;
}

h4 {
	font-family: 'Quando';
	text-align: center;
	font-size: 30px;
}

.commercants, .visitors, .region {
	margin-top: 50px;
}

a h3 {
	font-size: 30px;
	position: relative;
	font-weight: normal;
	font-family: 'Quando';
	text-align: left;
	/*background-color: red;*/
	text-align: center;
	height: 34px;
	top: 50%;
	margin-top: -17px;
}

.cta-home {
	position: absolute;
	background-color: rgba(0,0,0,.3);
	height: 60px;
	border-color: white;
	/*border-width: 5px;*/
	border-radius: 10px;
	width: 40%;
	top: 75%; margin-top: -30px;
	left: 50%;margin-left: -20%;
	font-family: 'Quando';
	color: white;
	opacity: 1;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	box-shadow: 0 0 0 1px white;
}

a.cta-home {
	border-width: 2px;
}




.cta:active {
	text-decoration: none;
	outline: none;
	border-color: white;
}

.cta-home:hover {
	background-color: white;
	opacity: 1;
	color: #4686C8;
	transition: color 0.4s ease-out;
	transition: opacity 0.4s ease-out;
	transition: background-color 0.4s ease-out;
}

nav {
	height: 100px;
	width: 100%;
	background-color: transparent;
	/*box-shadow: 0 5px 8px rgba(0, 0, 0, .2);*/
	position: fixed;
	top: 0;
	z-index: 4;
	font-family: 'Quando';
	transition: background-color 0.4s ease-out;
	opacity: 1;
}

nav .logo{
	display: block;
	width: 300px;
	height: 56px;
	position: absolute; top: 50%; left: 30px;
	margin-top: -28px;
	overflow: hidden;
	/*background-color: red;*/
	color:white;
	text-decoration: none;
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
	transition: color 0.4s ease-out;

}

nav ul {
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li {
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a {
	display: block;
	height: 30px;
	box-sizing: border-box;
	font-size: 20px;
	text-transform: ;
	font-weight: bold;
	color: #111111;
	text-decoration: none;
	padding: 35px 35px;
	line-height: 30px;
	color: white;
	transition: color 0.4s ease-out;
}

nav.scroll {
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
}

nav.scroll .logo {
  color: #4686C8;
}

nav.scroll ul li a {
	color: #4686C8;
}

.section {
	height: 100px;
}

#soumission {
}

.soumission {
	height: 625px;
	background-color: #4686C8;
	padding-top: 50px;
}

.soumission h3{
	color:white;
}



#contact-me {
width: 60%;
margin: auto;
margin-top: 2.5em;
font-family: Quicksand;
}

#contact-me input  {
width: 100%;
}

#contact-me h2 {
text-align: center;
}



input {
font-size: 1em;
height: 2.5em;
font-family: Quicksand;
border-radius: 10px;
border: 0.05em solid #000;
background-color: #fff;
resize: vertical;
padding: 5px;
display: block;
width: 100%;
}

form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 450px;
	position: relative;
	transition: 50px;
	margin-bottom: 0;
	padding-bottom: 0;
	width: 60%;
	left: 20%;
	top: 50px;
	color: white;
	font-family: Quicksand;
}



textarea {
font-size: 1em;
height: 10em;
font-family: Quicksand;
border-radius: 10px;
border: 0.05em solid #000;
background-color: #fff;
resize: vertical;
width: 100%;
min-width: 100%;
min-height: 10em;
padding: 5px;
}

.cta {
	background-color: transparent;
	height: 30px;
	border: none;
	/*border-width: 5px;*/
	border-radius: 10px;
	width: 20%;
	font-family: 'Quando';
	color: white;
	opacity: 1;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	font-size: 20px;
	position: relative;
	left: 40%;
	display: block;
	transition: background-color 0.4s ease-out;
}

.cta h3 {
}

.cta:hover {
	background-color: white;
	border-color: white;
	color: #4686C8;
}

#produit {
	bottom: 0;
	position: absolute;
}

.produit {
	position: relative;
	height: 1450px;
} 

.addedvalue {
	width: 100%;
	height: 800px;
	position: relative;
	top: 100px;
}

.content {
  display: flex;
  flex: 1;
}
.columns{
  display: flex;
  flex:1;
}
.main{
	position: relative;
  flex: 1;
  order: 2;
}
.sidebar-first{
	position: relative;
  width: 33.33%;
  order: 1;
}
.sidebar-second{ 
	position: relative;
	  width: 33.33%;
	  order: 3;
}

.region {
	width: 100%;
	height: 300px;
	position: relative;
	transition: 100px;
}

.visitors {
	width: 100%;
	height: 300px;
	position: relative;
	transition: 100px;
}

.commercants {
	width: 100%;
	height: 300px;
	position: relative;
	transition: 100px;
}


.produit h3 {
	color: #4686C8;
	margin-bottom: 75px;
	top: 50px;
	position: relative;
	font-size: 45px;
}

.text-left {
	width: 30%;height: 300px;
	position: absolute;
	top: 200px;left: 12%
}

.text-right {
	width: 300px;height: 300px;
	position: absolute;
	top: 200px;right:15%;
}

.text-right p, .text-left p {
	font-size: 25px;
	font-family: 'Quando';
	height: 180px;
}

.trans {
	transform: translateX(-100px);
}


.arrows {
	width: 120px;
	position: absolute;
	top: 300px;left: 50%;
	margin-left: -60px;
}

.flip {
	 transform: scaleX(-1);
}

#mockup {
	height: 500px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	position: relative;	
	top: 50px;
	z-index
	display: block;
}

.desctop {
	margin-bottom: 100px; margin-top: 50px;
}

.proddesc {
	height: 450px;
	position: relative;
	margin-bottom: -50px;
}

.proddesc p {
	font-family: 'Quando';
	font-size: 20px;
	line-height: 40px;
	text-align: justify;
	position: absolute;
	height: 320px;
	width: 90%;
	
}

.mockups {
	width: 100%;
	position: relative;
}

.col25 {
	float: left;
	width: 25%;
	position: relative;

}

.col50 {
	float: left;
	width: 50%;
}

 #regions, #shop {
	width: 300px;
	height: 300px;
	left: 50%;
	margin-left: -150px;
	position: relative;
}

#users {
	width: 300px;
	position: relative;
	left: 50%;
	margin-left: -150px;
	height: 210px;
	top: 50%;
	margin-top: -105px;
}

.users {
	height: 300px;
}

.valuetext {
	text-align: center;
}

img {
	position: relative;
}

.video {
	position: relative;
	width: 640px;
	height: 360px;
	display: block;
	width: 90%;
}

footer {
	height: 150px;
}

footer p {
	opacity: .4;
	font-family: arial;
	font-size: 15px;
	height: 14px;
	line-height: 12px;
	position: relative;
	top: 50%;
	margin-top: -7px;
}

.mission {
	height: 550px;
	background-color: #4686C8;
	position: relative;
}

.mission p {
	color: #fff;
	width: 60%;
	font-size: 25px;
	line-height: 38px;
	font-family: 'Quando';
	text-align: center;
	left: 20%;
	position: absolute;
	margin-top: 25px;
	font-weight: lighter;
}

.mission h3 {
	color: #4686C8;
	margin-bottom: 75px;
	top: 50px;
	position: relative;
	font-size: 45px;
	color: #fff;
}

#team {
	position: absolute;
	bottom: 0;
}

.team {
	height: 800px;
	background-color: #fff;
}

.team h3 {
	color: #fff;
	margin-bottom: 75px;
	top: 50px;
	position: relative;
	font-size: 45px;
	color: #4686C8;
}

.col40 {
	float: left;
	width: 40%;
}

.col60 {
	float: left;
	width: 60%;
	height: 400px;
}

.col {
  float: left;
  width: 50%;
  height: 400px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col40 img {
	width: 300px;
	left: 50%;
	margin-left: -150px;
	height: 300px;
	position: relative;
}

.col60 p {
	width: 80%;
	text-align: center;
	font-family: 'Quando';
	font-size: 18px;
	line-height: 30px;
	position: relative;
	text-align: justify;
	height: 330px;
}  

}

@media screen and (min-width: 900px) and (max-width: 1199px) {

.mobilebody {
	display: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.background {
	height: 100vh;
	/*background-color: rgba(70,134,200, .7); /*#4686C8*/
	background-image: linear-gradient(black, transparent);
	opacity: 0.6;
	position: absolute;
	left: 0;
	right: 0;
}

.header {
	height: 768px;
	position: relative;
}



.homevideo {
	position: fixed;
	z-index: -1;
	width: 1900px;
	top: 0;
}


.body{
	z-index: 1;
	position: relative;
	background-color: #fff;
}

.title {
	text-align: center;
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;right: 0;
	font-family: Arial;
	color: white;
	opacity: 1;
}

.title h1{
	font-size: 90px;
	position: relative;
	font-weight: normal;
	font-family: 'Quando';
}

.title h2 {
	font-size: 126px;
	width: 100%;
	position: relative;
	top: 40%;margin-top: -120px;
	font-weight: normal;
	font-family: 'Quando';
	height: 240px;
	line-height: 126px;
	text-align: center;
}

h3 {
	font-size: 30px;
	position: relative;
	font-weight: normal;
	font-family: 'Quando';
	text-align: left;
	/*background-color: red;*/
	text-align: center;
	height: 34px;
}

h4 {
	font-family: 'Quando';
	text-align: center;
	font-size: 30px;
}


a h3 {
	font-size: 30px;
	position: relative;
	font-weight: normal;
	font-family: 'Quando';
	text-align: left;
	/*background-color: red;*/
	text-align: center;
	height: 34px;
	top: 50%;
	margin-top: -17px;
}

.cta-home {
	position: absolute;
	background-color: rgba(0,0,0,.3);
	height: 60px;
	border-color: white;
	/*border-width: 5px;*/
	border-radius: 10px;
	width: 50%;
	top: 75%; margin-top: -30px;
	left: 50%;margin-left: -25%;
	font-family: 'Quando';
	color: white;
	opacity: 1;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	box-shadow: 0 0 0 1px white;
}

a.cta-home {
	border-width: 2px;
}




.cta:active {
	text-decoration: none;
	outline: none;
	border-color: white;
}

.cta-home:hover {
	background-color: white;
	opacity: 1;
	color: #4686C8;
	transition: color 0.4s ease-out;
	transition: opacity 0.4s ease-out;
	transition: background-color 0.4s ease-out;
}

nav {
	height: 100px;
	width: 100%;
	background-color: transparent;
	/*box-shadow: 0 5px 8px rgba(0, 0, 0, .2);*/
	position: fixed;
	top: 0;
	z-index: 4;
	font-family: 'Quando';
	transition: background-color 0.4s ease-out;
	opacity: 1;
}

nav .logo{
	display: block;
	width: 300px;
	height: 56px;
	position: absolute; top: 50%; left: 30px;
	margin-top: -28px;
	overflow: hidden;
	/*background-color: red;*/
	color:white;
	text-decoration: none;
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
	transition: color 0.4s ease-out;

}

nav ul {
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li {
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a {
	display: block;
	height: 30px;
	box-sizing: border-box;
	font-size: 20px;
	text-transform: ;
	font-weight: bold;
	color: #111111;
	text-decoration: none;
	padding: 35px 35px;
	line-height: 30px;
	color: white;
	transition: color 0.4s ease-out;
}

nav.scroll {
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
}

nav.scroll .logo {
  color: #4686C8;
}

nav.scroll ul li a {
	color: #4686C8;
}

.section {
	height: 100px;
}

#soumission {
}

.soumission {
	height: 625px;
	background-color: #4686C8;
	padding-top: 50px;
}

.soumission h3{
	color:white;
}



#contact-me {
width: 60%;
margin: auto;
margin-top: 2.5em;
font-family: Quicksand;
}

#contact-me input  {
width: 100%;
}

#contact-me h2 {
text-align: center;
}



input {
font-size: 1em;
height: 2.5em;
font-family: Quicksand;
border-radius: 10px;
border: 0.05em solid #000;
background-color: #fff;
resize: vertical;
padding: 5px;
display: block;
width: 100%;
}

form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 450px;
	position: relative;
	transition: 50px;
	margin-bottom: 0;
	padding-bottom: 0;
	width: 60%;
	left: 20%;
	top: 50px;
	color: white;
	font-family: Quicksand;
}



textarea {
font-size: 1em;
height: 10em;
font-family: Quicksand;
border-radius: 10px;
border: 0.05em solid #000;
background-color: #fff;
resize: vertical;
width: 100%;
min-width: 100%;
min-height: 10em;
padding: 5px;
}

.cta {
	background-color: transparent;
	height: 30px;
	border: none;
	/*border-width: 5px;*/
	border-radius: 10px;
	width: 20%;
	font-family: 'Quando';
	color: white;
	opacity: 1;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	font-size: 20px;
	position: relative;
	left: 40%;
	display: block;
	transition: background-color 0.4s ease-out;
}

.cta h3 {
}

.cta:hover {
	background-color: white;
	border-color: white;
	color: #4686C8;
}

#produit {
	bottom: 0;
	position: absolute;
}

.produit {
	position: relative;
	height: 1300px;
} 




.produit h3 {
	color: #4686C8;
	margin-bottom: 75px;
	top: 50px;
	position: relative;
	font-size: 45px;
}

.text-left {
	width: 30%;height: 300px;
	position: absolute;
	top: 200px;left: 4%
}

.text-right {
	width: 300px;height: 300px;
	position: absolute;
	top: 200px;right:10%;
}

.text-right p, .text-left p {
	font-size: 25px;
	font-family: 'Quando';
	height: 180px;
}

.trans {
	transform: translateX(0px);
}


.arrows {
	width: 80px;
	position: absolute;
	top: 300px;left: 50%;
	margin-left: -60px;
}

.flip {
	 transform: scaleX(-1);
}

#mockup {
	height: 500px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	position: relative;	
	top: 50px;
	z-index
	display: block;
}

.desctop {
	margin-bottom: 0px; margin-top: 50px;
	height: 200px;
}

.proddesc {
	height: 450px;
	position: relative;
	margin-bottom: -50px;
}

.proddesc p {
	font-family: 'Quando';
	font-size: 15px;
	line-height: 30px;
	text-align: justify;
	position: absolute;
	height: 320px;
	width: 90%;
	top: 25px;
	
}

.mockups {
	width: 100%;
	position: relative;
}

.col25 {
	float: left;
	width: 25%;
	position: relative;
}

.b img {
	top: 50px;
}

.col50 {
	float: left;
	width: 50%;
}

 

img {
	position: relative;
}

.video {
	position: relative;
	width: 640px;
	height: 360px;
	display: block;
	width: 90%;
	transform: translateY(-50px);
}

footer {
	height: 150px;
}

footer p {
	opacity: .4;
	font-family: arial;
	font-size: 15px;
	height: 14px;
	line-height: 12px;
	position: relative;
	top: 50%;
	margin-top: -7px;
}

.mission {
	height: 500px;
	background-color: #4686C8;
	position: relative;
}

.mission p {
	color: #fff;
	width: 66%;
	font-size: 20px;
	line-height: 35px;
	font-family: 'Quando';
	text-align: center;
	left: 20%;
	position: absolute;
	margin-top: 30px;
	font-weight: lighter;
}

.mission h3 {
	color: #4686C8;
	margin-bottom: 75px;
	top: 50px;
	position: relative;
	font-size: 45px;
	color: #fff;
}

#team {
	position: absolute;
	bottom: 0;
}

.team {
	height: 800px;
	background-color: #fff;
}

.team h3 {
	color: #fff;
	margin-bottom: 75px;
	top: 50px;
	position: relative;
	font-size: 45px;
	color: #4686C8;
}

.col40 {
	float: left;
	width: 40%;
}

.col60 {
	float: left;
	width: 60%;
	height: 400px;
}

.col {
  float: left;
  width: 50%;
  height: 400px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col40 img {
	width: 300px;
	left: 50%;
	margin-left: -150px;
	height: 300px;
	position: relative;
}

.col60 p {
	width: 80%;
	text-align: center;
	font-family: 'Quando';
	font-size: 15px;
	line-height: 30px;
	position: relative;
	text-align: justify;
	height: 330px;
}  

.tabletprod {
	display: none;
}

.mobileprod {
	display: none;
}





}


@media screen and (min-width: 600px) and (max-width: 899px){

.mobilebody {
	display: none;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.background {
	height: 100vh;
	/*background-color: rgba(70,134,200, .7); /*#4686C8*/
	background-image: linear-gradient(black, transparent);
	opacity: 0.6;
	position: absolute;
	left: 0;
	right: 0;
}

.header {
	height: 768px;
	position: relative;
}



.homevideo {
	position: fixed;
	z-index: -1;
	width: 1900px;
	left: -200px;
	top: 0;
}


.body{
	z-index: 1;
	position: relative;
	background-color: #fff;
}

.title {
	text-align: center;
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;right: 0;
	font-family: Arial;
	color: white;
	opacity: 1;
}

.title h1{
	font-size: 90px;
	position: relative;
	font-weight: normal;
	font-family: 'Quando';
}

.title h2 {
	font-size: 80px;
	width: 100%;
	position: relative;
	top: 40%;margin-top: -120px;
	font-weight: normal;
	font-family: 'Quando';
	height: 240px;
	line-height: 126px;
	text-align: center;
}

h3 {
	font-size: 30px;
	position: relative;
	font-weight: normal;
	font-family: 'Quando';
	text-align: left;
	/*background-color: red;*/
	text-align: center;
	height: 34px;
}

h4 {
	font-family: 'Quando';
	text-align: center;
	font-size: 30px;
}


a h3 {
	font-size: 20px;
	position: relative;
	font-weight: normal;
	font-family: 'Quando';
	text-align: left;
	/*background-color: red;*/
	text-align: center;
	height: 22px;
	top: 50%;
	margin-top: -11px;
}

.cta-home {
	position: absolute;
	background-color: rgba(0,0,0,.3);
	height: 40px;
	border-color: white;
	/*border-width: 5px;*/
	border-radius: 10px;
	width: 46%;
	top: 75%; margin-top: -30px;
	left: 50%; margin-left: -23%;
	font-family: 'Quando';
	color: white;
	opacity: 1;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	box-shadow: 0 0 0 1px white;
}

a.cta-home {
	border-width: 2px;
}




.cta:active {
	text-decoration: none;
	outline: none;
	border-color: white;
}

.cta-home:hover {
	background-color: white;
	opacity: 1;
	color: #4686C8;
	transition: color 0.4s ease-out;
	transition: opacity 0.4s ease-out;
	transition: background-color 0.4s ease-out;
}

nav {
	height: 100px;
	width: 100%;
	background-color: transparent;
	/*box-shadow: 0 5px 8px rgba(0, 0, 0, .2);*/
	position: fixed;
	top: 0;
	z-index: 4;
	font-family: 'Quando';
	transition: background-color 0.4s ease-out;
	opacity: 1;
}

nav .logo{
	display: block;
	width: 100%;
	text-align: center;
	height: 56px;
	position: absolute; top: 50%;
	margin-top: -28px;
	overflow: hidden;
	/*background-color: red;*/
	color:white;
	text-decoration: none;
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
	transition: color 0.4s ease-out;

}

nav ul {
	display: none;
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li {
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a {
	display: block;
	height: 30px;
	box-sizing: border-box;
	font-size: 10px;
	text-transform: ;
	font-weight: bold;
	color: #111111;
	text-decoration: none;
	padding: 35px 35px;
	line-height: 30px;
	color: white;
	transition: color 0.4s ease-out;
}

nav.scroll {
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
}

nav.scroll .logo {
  color: #4686C8;
}

nav.scroll ul li a {
	color: #4686C8;
}

.section {
	height: 100px;
}

#soumission {
}

.soumission {
	height: 625px;
	background-color: #4686C8;
	padding-top: 50px;
}

.soumission h3{
	color:white;
}



#contact-me {
width: 60%;
margin: auto;
margin-top: 2.5em;
font-family: Quicksand;
}

#contact-me input  {
width: 100%;
}

#contact-me h2 {
text-align: center;
}



input {
font-size: 1em;
height: 2.5em;
font-family: Quicksand;
border-radius: 10px;
border: 0.05em solid #000;
background-color: #fff;
resize: vertical;
padding: 5px;
display: block;
width: 100%;
}

form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 450px;
	position: relative;
	transition: 50px;
	margin-bottom: 0;
	padding-bottom: 0;
	width: 60%;
	left: 20%;
	top: 50px;
	color: white;
	font-family: Quicksand;
}



textarea {
font-size: 1em;
height: 10em;
font-family: Quicksand;
border-radius: 10px;
border: 0.05em solid #000;
background-color: #fff;
resize: vertical;
width: 100%;
min-width: 100%;
min-height: 10em;
padding: 5px;
}

.cta {
	background-color: transparent;
	height: 30px;
	border: none;
	/*border-width: 5px;*/
	border-radius: 10px;
	width: 20%;
	font-family: 'Quando';
	color: white;
	opacity: 1;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	font-size: 20px;
	position: relative;
	left: 40%;
	display: block;
	transition: background-color 0.4s ease-out;
}

.cta h3 {
}

.cta:hover {
	background-color: white;
	border-color: white;
	color: #4686C8;
}

#produit {
	bottom: 0;
	position: absolute;
}

.produit {
	position: relative;
	height: 900px;
} 




.produit h3 {
	color: #4686C8;
	margin-bottom: 115px;
	top: 50px;
	position: relative;
	font-size: 45px;
}

.text-left {
	width: 30%;height: 300px;
	position: absolute;
	top: 200px;left: -10%;
}

.text-right {
	width: 300px;height: 300px;
	position: absolute;
	top: 200px;right:10%;
}

.text-left p{
	float: left;
}
.text-right p, .text-left p {
	font-size: 25px;
	font-family: 'Quando';
	height: 180px;
}

.trans {
	transform: translateX(12px);
}


.arrows {
	width: 80px;
	position: absolute;
	top: 300px;left: 50%;
	margin-left: -60px;
}

.flip {
	 transform: scaleX(-1);
}

.desktop {
	display: none;
}

.mobileprod {
	display: none;
}

#mockup {
	height: 500px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	position: relative;	
	top: 50px;
	z-index
	display: block;
}

.desctop {
	margin-bottom: 0px; margin-top: 75px;
	height: 200px;
}

.proddesc {
	height: 450px;
	position: relative;
	margin-bottom: -50px;
}

.proddesc p {
	font-family: 'Quando';
	font-size: 12px;
	line-height: 30px;
	text-align: justify;
	position: absolute;
	height: 320px;
	width: 90%;
	top: 25px;
	
}

.mockups {
	width: 100%;
	position: relative;
}

.col25 {
	float: left;
	width: 50%;
	position: relative;

}

.none {
	display: none;
}

.col50 {
	float: left;
	width: 50%;
}

 

img {
	position: relative;
}

.video {
	position: relative;
	width: 640px;
	height: 360px;
	display: block;
	width: 90%;
	top: 50px;
	transform: translateY(-50px);
}

footer {
	height: 150px;
}

footer p {
	opacity: .4;
	font-family: arial;
	font-size: 15px;
	height: 14px;
	line-height: 12px;
	position: relative;
	top: 50%;
	margin-top: -7px;
}

.mission {
	height: 500px;
	background-color: #4686C8;
	position: relative;
}

.mission p {
	color: #fff;
	width: 90%;
	font-size: 18px;
	line-height: 35px;
	font-family: 'Quando';
	text-align: center;
	left: 5%;
	position: absolute;
	margin-top: 30px;
	font-weight: lighter;
}

.mission h3 {
	color: #4686C8;
	margin-bottom: 75px;
	top: 50px;
	position: relative;
	font-size: 45px;
	color: #fff;
}

#team {
	position: absolute;
	bottom: 0;
}

.team {
	height: 800px;
	background-color: #fff;
}

.team h3 {
	color: #fff;
	margin-bottom: 75px;
	top: 50px;
	position: relative;
	font-size: 45px;
	color: #4686C8;
}

.col40 {
	float: left;
	width: 40%;
}

.col60 {
	float: left;
	width: 60%;
	height: 400px;
}

.col {
  float: left;
  width: 50%;
  height: 400px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col40 img {
	width: 250px;
	left: 50%;
	margin-left: -150px;
	height: 250px;
	position: relative;
	z-index: 0;
}

.col60 p {
	width: 80%;
	text-align: center;
	font-family: 'Quando';
	font-size: 12px;
	line-height: 30px;
	position: relative;
	text-align: justify;
	height: 330px;
	z-index: 2;
}  

#img {
	left: 189px;
	top: 50px;
}

#img2 {
	top: 50px;
}



}





@media screen and (max-width: 599px) { 

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.background {
	height: 100vh;
	/*background-color: rgba(70,134,200, .7); /*#4686C8*/
	background-image: linear-gradient(black, transparent);
	opacity: 0.6;
	position: absolute;
	left: 0;
	right: 0;
}

.header {
	height: 100vh;
	position: relative;
}



.homevideo {
	position: fixed;
	z-index: -1;
	width: 1900px;
	left: -200px;
	top: 0;
}


.body{
	z-index: 1;
	position: relative;
	background-color: #fff;
}

.title {
	text-align: center;
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;right: 0;
	font-family: Arial;
	color: white;
	opacity: 1;
}

.title h1{
	font-size: 90px;
	position: relative;
	font-weight: normal;
	font-family: 'Quando';
}

.title h2 {
	font-size: 60px;
	width: 100%;
	position: relative;
	top: 60%;margin-top: -120px;
	font-weight: normal;
	font-family: 'Quando';
	height: 240px;
	line-height: 70px;
	text-align: center;
}

h3 {
	font-size: 30px;
	position: relative;
	font-weight: normal;
	font-family: 'Quando';
	text-align: left;
	/*background-color: red;*/
	text-align: center;
	height: 34px;
}

h4 {
	font-family: 'Quando';
	text-align: center;
	font-size: 30px;
}


a h3 {
	font-size: 20px;
	position: relative;
	font-weight: normal;
	font-family: 'Quando';
	text-align: left;
	/*background-color: red;*/
	text-align: center;
	height: 22px;
	top: 50%;
	margin-top: -11px;
}

.cta-home {
	position: absolute;
	background-color: rgba(0,0,0,.3);
	height: 40px;
	border-color: white;
	/*border-width: 5px;*/
	border-radius: 10px;
	width: 60%;
	top: 75%; margin-top: -30px;
	left: 50%; margin-left: -30%;
	font-family: 'Quando';
	color: white;
	opacity: 1;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	box-shadow: 0 0 0 1px white;
}

a.cta-home {
	border-width: 2px;
}




.cta:active {
	text-decoration: none;
	outline: none;
	border-color: white;
}

.cta-home:hover {
	background-color: white;
	opacity: 1;
	color: #4686C8;
	transition: color 0.4s ease-out;
	transition: opacity 0.4s ease-out;
	transition: background-color 0.4s ease-out;
}

nav {
	height: 100px;
	width: 100%;
	background-color: transparent;
	/*box-shadow: 0 5px 8px rgba(0, 0, 0, .2);*/
	position: fixed;
	top: 0;
	z-index: 4;
	font-family: 'Quando';
	transition: background-color 0.4s ease-out;
	opacity: 1;
}

nav .logo{
	display: block;
	width: 100%;
	text-align: center;
	height: 56px;
	position: absolute; top: 50%;
	margin-top: -28px;
	overflow: hidden;
	/*background-color: red;*/
	color:white;
	text-decoration: none;
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
	transition: color 0.4s ease-out;

}

nav ul {
	display: none;
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li {
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a {
	display: block;
	height: 30px;
	box-sizing: border-box;
	font-size: 10px;
	text-transform: ;
	font-weight: bold;
	color: #111111;
	text-decoration: none;
	padding: 35px 35px;
	line-height: 30px;
	color: white;
	transition: color 0.4s ease-out;
}

nav.scroll {
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
}

nav.scroll .logo {
  color: #4686C8;
}

nav.scroll ul li a {
	color: #4686C8;
}

.section {
	height: 100px;
}

#soumission {
}

.soumission {
	height: 625px;
	background-color: #4686C8;
	padding-top: 50px;
}

.soumission h3{
	color:white;
}



#contact-me {
width: 60%;
margin: auto;
margin-top: 2.5em;
font-family: Quicksand;
}

#contact-me input  {
width: 100%;
}

#contact-me h2 {
text-align: center;
}



input {
font-size: 1em;
height: 2.5em;
font-family: Quicksand;
border-radius: 10px;
border: 0.05em solid #000;
background-color: #fff;
resize: vertical;
padding: 5px;
display: block;
width: 100%;
}

form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 450px;
	position: relative;
	transition: 50px;
	margin-bottom: 0;
	padding-bottom: 0;
	width: 60%;
	left: 20%;
	top: 50px;
	color: white;
	font-family: Quicksand;
}



textarea {
font-size: 1em;
height: 10em;
font-family: Quicksand;
border-radius: 10px;
border: 0.05em solid #000;
background-color: #fff;
resize: vertical;
width: 100%;
min-width: 100%;
min-height: 10em;
padding: 5px;
}

.cta {
	background-color: transparent;
	height: 30px;
	border: none;
	/*border-width: 5px;*/
	border-radius: 10px;
	width: 20%;
	font-family: 'Quando';
	color: white;
	opacity: 1;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	font-size: 20px;
	position: relative;
	left: 40%;
	display: block;
	transition: background-color 0.4s ease-out;
}

.cta h3 {
}

.cta:hover {
	background-color: white;
	border-color: white;
	color: #4686C8;
}

#produit {
	bottom: 0;
	position: absolute;
}

.produit {
	position: relative;
	height: 900px;
} 




.produit h3 {
	color: #4686C8;
	margin-bottom: 115px;
	top: 50px;
	position: relative;
	font-size: 45px;
}

.text-left {
	width: 30%;height: 300px;
	position: absolute;
	top: 200px;left: -10%;
}

.text-right {
	width: 300px;height: 300px;
	position: absolute;
	top: 200px;right:10%;
}

.text-left p{
	float: left;
}
.text-right p, .text-left p {
	font-size: 25px;
	font-family: 'Quando';
	height: 180px;
}

.trans {
	transform: translateX(12px);
}


.arrows {
	width: 80px;
	position: absolute;
	top: 300px;left: 50%;
	margin-left: -60px;
}

.flip {
	 transform: scaleX(-1);
}

.desktop {
	display: none;
}

.mobileprod {
	display: none;
}

#mockup {
	height: 500px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	position: relative;	
	top: 50px;
	z-index
	display: block;
}

.desctop {
	margin-bottom: 0px; margin-top: 75px;
	height: 200px;
}

.proddesc {
	height: 450px;
	position: relative;
	margin-bottom: -50px;
}

.proddesc p {
	font-family: 'Quando';
	font-size: 12px;
	line-height: 30px;
	text-align: justify;
	position: absolute;
	height: 320px;
	width: 90%;
	top: 25px;
	
}

.mockups {
	width: 100%;
	position: relative;
}

.col25 {
	float: left;
	width: 50%;
	position: relative;

}

.none {
	display: none;
}

.col50 {
	float: left;
	width: 50%;
}

 

img {
	position: relative;
}

.video {
	position: relative;
	width: 640px;
	height: 360px;
	display: block;
	width: 90%;
	top: 50px;
	transform: translateY(-50px);
}

footer {
	height: 150px;
}

footer p {
	opacity: .4;
	font-family: arial;
	font-size: 15px;
	height: 14px;
	line-height: 12px;
	position: relative;
	top: 50%;
	margin-top: -7px;
}

.mission {
	height: 500px;
	background-color: #4686C8;
	position: relative;
}

.mission p {
	color: #fff;
	width: 90%;
	font-size: 18px;
	line-height: 35px;
	font-family: 'Quando';
	text-align: center;
	left: 5%;
	position: absolute;
	margin-top: 30px;
	font-weight: lighter;
}

.mission h3 {
	color: #4686C8;
	margin-bottom: 75px;
	top: 50px;
	position: relative;
	font-size: 45px;
	color: #fff;
}

#team {
	position: absolute;
	bottom: 0;
}

.team {
	height: 800px;
	background-color: #fff;
}

.team h3 {
	color: #fff;
	margin-bottom: 75px;
	top: 50px;
	position: relative;
	font-size: 45px;
	color: #4686C8;
}

.col40 {
	float: left;
	width: 40%;
}

.col60 {
	float: left;
	width: 60%;
	height: 400px;
}

.col {
  float: left;
  width: 50%;
  height: 400px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col40 img {
	width: 250px;
	left: 50%;
	margin-left: -150px;
	height: 250px;
	position: relative;
	z-index: 0;
}

.col60 p {
	width: 80%;
	text-align: center;
	font-family: 'Quando';
	font-size: 12px;
	line-height: 30px;
	position: relative;
	text-align: justify;
	height: 330px;
	z-index: 2;
}  

#img {
	left: 189px;
	top: 50px;
}

#img2 {
	top: 50px;
}

.desktpo {
	display: none;
}

.mobilebody div {
	background-color: black;
}


}









